@using Bookshop.Models.DTO;
@model IEnumerable<BookViewModelDTO>

<div>
    <div class="row">
        @foreach(var book in @Model)
        {
            <div class="col-4 border border-end-2 border-start-2  border-top-0 border-bottom-0  border-dark mt-5"> 
                <div class="container col-6 h-50 d-flex flex-wrap align-items-center">
                    @if(string.IsNullOrEmpty(book.ImagePath))
                    {
                        <img src="/uploads/DefaultImage.png" class="img-fluid" alt="Responsive image"></img>
                    }
                    else
                    {
                        <img src="@(book.ImagePath)" class="img-fluid" alt="Responsive image"></img>
                    }
                </div>
                <div>
                    <h3 class="mt-4">@book.Title</h3>
                </div>
                <div>
                    @(string.Join(", ", @book.AuthorsNames))
                </div>
                <div>
                    Pages: <strong>@book.Pages</strong>
                </div>
                <div> 
                    Published: <strong>@book.PublishedOn.ToString("Y")</strong>
                </div>
            </div>
        }
    </div>
</div>
